<head>
 <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style><!-- BREADCRUMBS -->
<div class="bcrumbs">
    <div class="container">
        <ul>
            <li><a href="?controller=pages&action=home">Localisation</a></li>
       
        </ul>
    </div>
</div>
<iframe id="map" src="https://wego.here.com/directions/mix//BazArt,-18-Rue-des-Juges,-%D8%A7%D9%84%D9%85%D9%86%D8%B2%D9%87,-%D8%AA%D9%88%D9%86%D8%B3:788snx1x-690d1a0716d048bfb6aa510b7b04251f?map=36.84647,10.16276,15,normal&fb_locale=fr_FR" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</html>
<head/>